@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-slate-50 text-slate-900;
}

button,
input,
select,
textarea {
  font: inherit;
}

.leaflet-control-attribution {
  font-size: 10px;
}
